# Ignore Mac system files
.DS_Store

# Ignore Python virtual environments
venv/
env/
15five_venv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore all .env files which may contain sensitive information
.env